.profile__list {
    margin: 0;
    padding: 0 30px;
    flex-grow: 1;    
}

@media screen and (max-width: 767px) {
    .profile__list {        
        padding: 26px 0;
        text-align: center;
    }
}