.popup__close {
    background-image: url(../../../images/closeIcon.svg);
    background-color: rgba(0, 0, 0, 1);
    background-repeat: no-repeat;
    background-position: center center;
    border: none;
    width: 32px;
    min-height: 32px;
    position: absolute;
    top: -40px;
    right: -40px;
    cursor: pointer;
    transition: all .3s linear;
}

.popup__close:hover {
    opacity: .6;
}

@media screen and (max-width: 767px) {
    .popup__close {
        max-width: 20px;
        min-height: 20px;
        top: -36px;
        right: 0;
    }
}