.profile__list-subtitle {
    margin: 0;
    padding-top: 16px;
    font-weight: 400;
    font-size: 18px;
    line-height: normal;
    color: rgba(255, 255, 255, 1);
    max-width: 336px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 767px) {
    .profile__list-subtitle {
        font-size: 14px;
        padding-top: 14px;
        max-width: 282px;
    }
}